<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/27Saumya/Macboard/master/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>NbVx5U5iXsOSE3lJ2ketLmcA1No80xpaEwf4QHrbAvw=</string>
</dict>
</plist>
